# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Results folder
results/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

